<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Public+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="#">
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>
    <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>