html, body {
    width: 100%;
    height: auto;
    background-color: #FEE140;
    background-image: linear-gradient(45deg, #FEE140 0%, #FA709A 100%);
}

.form-container{
    height: 100vh;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }